@model List<ShelterManagerRedux.Models.ShelterLocation>
@{
    ViewData["Title"] = "ShelterInterest";
}
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>ShelterID</th>
        <th>Shelters</th>
        <th>Availability</th>
        <th>Show Interest</th>
        <th>Info</th>

    </tr>
</table>