@model ChangePasswordViewModel

<h2>Change Password</h2>

<form asp-controller="Account" asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label asp-for="CurrentPassword">Current Password</label>
        <input asp-for="CurrentPassword" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="NewPassword">New Password</label>
        <input asp-for="NewPassword" type="password" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword">Confirm Password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
    </div>

    <button asp-action="Index" type="submit" class="btn btn-primary">Change Password</button>
</form>
