@model List<ShelterManagerRedux.Models.FrequentlyAskedQuestions>


        <!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Help Page</title>
    </head>
    <body>
        <style>
            td 
            {
                /* border: solid; */
            }
        </style>
        @{
            ViewData["Title"] = "Frequently Asked Questions";
        }
        <h2><center>@ViewData["Title"]</center></h2>
@*     <table align="center" border="0" style="border:1px solid black; background-color:white; font-size:18px; border-spacing: 30px;"> *@
        <table align="center" font-size:18px; border-spacing: 30px;">
            @foreach (FrequentlyAskedQuestions f in Model)
            {

                <tr align ="center">
                    <td>
                    <b>@f.Question</b>
                        <br />
                        @f.Answer
                        <br />
                        <br />
                    </td>
                </tr>

            }
        </table>


        <center>
            <link href="site.css" rel="stylesheet">
            <div id="contact">
                <h2>Have other Questions? Contact us Below:</h2>
                <h4>Phone Number: (904) 123-4567</h4>
                <h4>
                    Address: 123 Corporate Drive
                    Jacksonville, FL
                    32224
                </h4>

                <h2>Want to send us a message?</h2>
                <form action="mailto:N014753672@unf.edu" method="post" enctype="text/plain">
                    <div class="contact-group">
                        <label for="Name" class="label">Full Name</label>
                        <div class="input">
                            <center>Your Name:</center>
                            <input type="text" id="Name" name="Name" cols="50" class="conact-control" required>
                        </div>
                    </div>
                    <div class="contact-group">
                        <center>Your Email:</center>
                        <label for="Email" class="label">Email Address</label>
                        <div class="input">
                            <input type="email" id="Email" cols="50" name="Email" class="contact-control" required>
                        </div>
                    </div>
                    <div class="contact-group">
                      <center>Your Message to the Shelter Manager Support Team:</center>
                        <label for="Message" class="label">Your Message to The Shelter Manager Team</label>
                        <div class="input">
                            <textarea id="Message" name="Message" class="contact-control" cols="50" rows="6" maxlength="1000" required></textarea>
                        </div>
                    </div>
                    <div class="contact-group">
                        <input type="submit" value="Send Message">
                    </div>
                </form>
            </div>
        </center>
    </body>
    </html>






