@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Shelter Manager</h1>
    <a asp-action="Create">Create Account</a>

    <a asp-action="LoginView">Login</a>
    <a asp-action="ClientView">Client View</a>
    <a asp-action="ChangePassword">Change Password</a>
    <a asp-action="www.youtube.com">test</a>
</div>
