@model ShelterManagerRedux.LoginViewModel

<h2>Login</h2>

<form asp-action="LoginView" asp-controller="Home" method="post">
    <div class="form-group">
        <label asp-for="Username">Username</label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>

    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>
