@model List<ShelterManagerRedux.Models.ShelterProfile>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Shelter Profile </title>
    <link rel="stylesheet" href="site.css">
</head>
<body>

    <section class="main">
        <div class="profile-card">

            <div class="data">
                <h2>City Rescue Mission</h2>
                <div class="logo">
                    <img src="https://www.crmjax.org/wp-content/uploads/2018/11/logo_tr.png" alt="" class="logo">
                </div>
                <br />
                <span>Contact: Mike Evans</span>
            </div>
            <div class="image">
                <img src="https://www.crmjax.org/wp-content/uploads/2015/07/MikeEvans.jpg" alt="" class="image">
            </div>
            <div class="row">
                <div class="info">
                    <h3>Phone Number</h3>
                    <span>904-421-5208</span>
                </div>
                <div class="info">
                    <h3>Email Address</h3>
                    <span>mevans@crmjax.org</span>
                </div>
                <div class="info">
                    <h3>Operating Hours</h3>
                    <span>8 A.M.-8 P.M.</span>
                </div>
            </div>
            <div class="buttons">
                <a href="https://www.crmjax.org/" target=”_blank” class="btn">More Information</a>
                <a href="EditShelterProfile" class="btn">Edit Profile</a>
            </div>
        </div>

    </section>
</body>
</html>
